PORT=3000
ALLOWED_ORIGINS=https://example.com

TG_BOT_TOKEN=5201813144:AAFWtiqfqYQb5SmVCY0ESJ4EBJr6Jzp1z_E
TG_CHAT_ID=
HASH_SALT=hdysjhgvcfxdgtgyuunbytvcrxezwxcvbjiuytrFB!UYTRXCVBU@IYUTRCvbnuytr@DFghytredxcvbnm,mnbvC@XERTYUIOiuhgvcdrdgbhd

ADMIN_TOKEN=change-this-admin-token
ADMIN_IP_ALLOWLIST=

# Optional: enable Turnstile validation when set
TURNSTILE_SECRET_KEY=
